Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace

.vsconfig
.idea/

# assets da store
/Content/Free_Sounds_Pack
/Content/FXVarietyPack
/Content/Kobo_ForestVillage
/Content/StylizedCreaturesBundle
